apiVersion: 1
datasources:
  - name: Tempo
    type: tempo
    access: proxy
    uid: tempo
    url: http://tempo:3200
    isDefault: false
    jsonData:
      httpMethod: GET
      tracesToProfiles:
        datasourceUid: pyroscope
      tracesToLogs:
        datasourceUid: loki
        tags: ['service.name']
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    isDefault: false
  - name: Pyroscope
    type: grafana-pyroscope-datasource
    access: proxy
    uid: pyroscope
    url: http://pyroscope:4040
    isDefault: false
